#page-dashboard {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-dashboard-content {
  width: 100vw;
  height: 100vh;
}

.config {
  width: 100%;
  min-height: 30rem;
  background-color: var(--color-primary);
}

.content-top {
  width: 100%;
  max-width: 1200px;
  min-height: 30rem;

  margin: 0 auto;

  padding: 3.2rem;

  background-color: var(--color-primary);
}

.header {
  width: 100%;
  height: 4.3rem;

  display: flex;
  justify-content: space-between;
}

.header .avatar-name {
  width: 100%;
  display: flex;

  align-items: center;
}

.header .avatar-name img {
  width: 4rem;
  height: 4rem;

  margin-right: 2rem;

  border-radius: 50%;
}

.header .avatar-name span {
  font: 500 1.6rem Poppins;
  line-height: 2.6rem;
  color: #D4C2FF;
}

.header button {
  width: 4rem;
  height: 4rem;

  background-color: #774DD6;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  border: none;
}

.logo-image {
  width: 100%;
  height: 100%;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.logo-image img {
  height: 10rem;
}

.logo-image h2 {
  font: 500 2.3rem Poppins;
  line-height: 2.6rem;

  margin: 2rem auto;

  color: #D4C2FF;
}

.hero-image {
  width: 100%;
}

.content-bottom h3 {
  text-align: center;
  margin: 2rem auto;
  font: 500 1.8rem Poppins;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2.0rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons a:first-child {
  margin-right: 1.6rem;
}

.buttons a img {
  width: 4rem;
  margin-right: 2.4rem;
}

.buttons a.study {
  background: var(--color-primary-lighter);
}

.buttons a.give-classes {
  background: var(--color-secundary);
}

.buttons a.study:hover {
  background: var(--color-primary-light);
}

.buttons a.give-classes:hover {
  background: var(--color-secundary-dark);
}

.total-connections {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.total-connections img {
  margin-left: 0.8rem;
}

@media (min-width: 1100px) {
  #page-dashboard-content {
    max-width: 100vw;

    display: grid;
    grid-template-rows: 65rem 1fr;
  }

  .content-top {
    display: grid;
    grid-template-rows: 5.6rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "logo hero"
    ;
    grid-row-gap: 6rem;
  }

  .content-top .header {
    grid-area: header;
  }

  .content-top .logo-image {
    grid-area: logo;
    align-self: center;
    margin: 0%;
  }

  .content-top .logo-image div {
    margin-right: auto;
  }

  .content-top .logo-image img {
    height: 14rem;
  }

  .content-top .logo-image h2 {
    width: 40rem;
    font-size: 4rem;
    line-height: 5rem;
    margin: 0;
  }

  .content-top .hero-image {
    grid-area: hero;
    height: 45rem;
  }

  .config-bottom {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-bottom {
    display: grid;
    grid-template-columns: 40rem 18rem 1fr 1fr;
    grid-template-areas: 
    "bemvindo connection buttons buttons"
    ;
    align-content: center;
    grid-gap: 1rem;
  }

  .content-bottom h3 {
    grid-area: bemvindo;
    width: 51%;
    align-self: center;
    text-align: initial;
    justify-self: start;
    margin: 0;
  }

  .content-bottom .total-connections {
    grid-area: connection;

    align-self: center;
    justify-self: flex-start;
    opacity: 0.5;
  }

  .content-bottom .buttons {
    grid-area: buttons;

  }
}